<div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
        data-toggle="dropdown">
        Tài khoản
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Action</a>
    </div>
</div>