@using website_shopping.Models.Contexts
@inject ShopContext ShopContext
@{
    Layout = "_PartialMenu";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img height="100%"
        src="https://thuvienmuasam.com/uploads/default/original/2X/3/38de41c9d34ba5eb0d2f4fd2cf2ffad212ae43bc.jpeg"
        class="attachment-original size-original" alt="" />
</div>

@*#section_1098406868{background-image:url(https://nuochoa.sharekhoahoc.vn/wp-content/uploads/2018/08/bg_newsletter.png);}*@
